<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    {% for i in object_list %}
        <li><a href="{{ i.id }}">{{ i.title }}</a></li>
    {% endfor %}
</ul>
</body>
</html>